<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intw.mentorapi.mapper.BoardConfigMapper">

    <select id="isBoardConfigExist" resultType="int">
        /* NOT_SQL_LOG */
        SELECT COUNT(*)
          FROM Board_config
         WHERE IDX = #{idx)}
    </select>

    <select id="isTypeExist" resultType="int">
        /* NOT_SQL_LOG */
        SELECT COUNT(*)
          FROM Board_config
         WHERE TYPE = #{type}
    </select>

    <select id="findAllBoardConfig" resultType="com.intw.mentorapi.dto.boardConfig.BoardConfigListDTO">
        /* NOT_SQL_LOG */
        SELECT IDX
             , TYPE
             , NAME
             , ROLE
             , LIST_COUNT
             , PAGE_COUNT
          FROM Board_config
               <if test='pageDTO.keyword != null'>
                 WHERE NAME LIKE CONCAT('%',#{pageDTO.keyword},'%')
               </if>
         ORDER BY IDX DESC
         LIMIT #{pageDTO.pageIndex}, #{pageDTO.pageSize}
    </select>

    <insert id="insertBoardConfig">
        /* NOT_SQL_LOG */
        INSERT INTO
            Board_config (
                         TYPE
                       , NAME
                       , ROLE
                       , LIST_COUNT
                       , PAGE_COUNT
        )
        VALUES (
               #{type}
             , #{name}
             , #{role}
             , #{listCount}
             , #{pageCount}
               )
    </insert>

    <select id="findOneBoardConfig" resultType="com.intw.mentorapi.dto.boardConfig.BoardConfigViewDTO">
        /* NOT_SQL_LOG */
        SELECT IDX
             , TYPE
             , NAME
             , ROLE
             , LIST_COUNT
             , PAGE_COUNT
          FROM Board_config
         WHERE IDX = #{idx}
    </select>

    <update id="updateBoardConfig">
        /* NOT_SQL_LOG */
        UPDATE Board_config
           SET NAME = #{name}
             , ROLE = #{role}
             , LIST_COUNT = #{listCount}
             , PAGE_COUNT = #{pageCount}
        WHERE IDX = #{idx};
    </update>

    <delete id="deleteBoardConfig">
        /* NOT_SQL_LOG */
        DELETE FROM Board_config WHERE IDX = #{idx}
    </delete>

</mapper>
