<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intw.mentorapi.mapper.CommentMapper">

    <select id="isCommentExist" resultType="int">
        /* NOT_SQL_LOG */
        SELECT COUNT(*) FROM Comment
         WHERE IDX = #{idx}
    </select>

    <select id="findAllCommentByBoard" resultType="com.intw.mentorapi.dto.comment.CommentListDTO">
        /* NOT_SQL_LOG */
        SELECT C.IDX
             , C.COMMENT
             , C.WRITE_AT
             , U.IDX AS USER_IDX
             , U.NAME AS USER_NAME
          FROM Comment C
          LEFT JOIN Board AS B ON B.IDX = C.BOARD_IDX
          LEFT JOIN User AS U ON U.IDX = C.USER_IDX
         ORDER BY C.IDX DESC
    </select>

    <insert id="insertComment">
        /* NOT_SQL_LOG */
        INSERT INTO Comment
                  ( USER_IDX
                  , BOARD_IDX
                  , COMMENT
                  , WRITE_IP
                  , WRITE_AT
                  )
           VALUES ( #{userIdx}
                  , #{boardIdx}
                  , #{comment}
                  , #{writeIp}
                  , NOW()
                  )
    </insert>

    <select id="findOneComment" resultType="Comment">
        /* NOT_SQL_LOG */
        SELECT IDX
             , USER_IDX
             , BOARD_IDX
             , COMMENT
             , WRITE_AT
          FROM Comment
         WHERE IDX = #{idx}
    </select>


    <update id="updateComment">
        /* NOT_SQL_LOG */
        UPDATE Comment
           SET COMMENT = #{comment}
         WHERE IDX = #{idx}
           AND USER_IDX = #{userIdx}
           AND BOARD_IDX = #{boardIdx}
    </update>

    <delete id="deleteComment">
        /* NOT_SQL_LOG */
        DELETE FROM Comment
         WHERE IDX = #{idx}
           <if test='!role.equals("ROLE_ADMIN")'>
               AND USER_IDX = #{userIdx}
           </if>
    </delete>
</mapper>
