<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intw.mentorapi.mapper.CommentReplyMapper">

    <select id="isCommentReplyExist" resultType="int">
        /* NOT_SQL_LOG */
        SELECT COUNT(*)
          FROM Comment_Reply
         WHERE IDX = #{idx}
    </select>

    <insert id="insertCommentReply">
        /* NOT_SQL_LOG */
        INSERT INTO Comment_Reply
                  ( USER_IDX
                  , COMMENT_IDX
                  , REPLY
                  , WRITE_IP
                  , WRITE_AT
                  )
           VALUES ( #{userIdx}
                  , #{commentIdx}
                  , #{reply}
                  , #{writeIp}
                  , NOW()
                  )
    </insert>

    <select id="findOneCommentReply" resultType="com.intw.mentorapi.dto.commentReply.CommentViewDTO">
        /* NOT_SQL_LOG */
        SELECT IDX
             , REPLY
          FROM Comment_Reply
         WHERE IDX = #{idx}
    </select>

    <update id="updateCommentReply">
        /* NOT_SQL_LOG */
        UPDATE Comment_Reply
           SET REPLY = #{reply}
         WHERE IDX = #{idx}
           AND USER_IDX = #{userIdx}
           AND COMMENT_IDX = #{commentIdx}
    </update>

    <delete id="deleteCommentReply">
        /* NOT_SQL_LOG */
        DELETE FROM Comment_Reply
         WHERE IDX = #{idx}
           <if test='!role.equals("ROLE_ADMIN")'>
               AND USER_IDX = #{userIdx}
           </if>
    </delete>
</mapper>
