<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intw.mentorapi.mapper.CompanyMapper">
    <select id="isCorporationNumberExist" resultType="int">
        /* NOT_SQL_LOG */
        SELECT COUNT(*) FROM Company WHERE CORPORATION_NUMBER = #{corporationNumber}
        <if test='idx != null'>
            AND IDX != #{idx}
        </if>
    </select>

    <select id="isBusinessNumberExist" resultType="int">
        /* NOT_SQL_LOG */
        SELECT COUNT(*) FROM Company WHERE BUSINESS_NUMBER = #{businessNumber}
        <if test='idx != null'>
            AND IDX != #{idx}
        </if>
    </select>

    <select id="isCompanyExist" resultType="int">
        /* NOT_SQL_LOG */
        SELECT COUNT(*) FROM Company WHERE IDX = #{idx}
    </select>

    <select id="findAllCompany" resultType="com.intw.mentorapi.dto.company.CompanyListDTO">
        /* NOT_SQL_LOG */
        SELECT IDX
             , STATUS
             , NAME
             , TEL
             , CATEGORY
             , EMPLOYEE_COUNT
             , ADDRESS
             , CORPORATION_NUMBER
             , BUSINESS_NUMBER
             , MANAGER_NAME
             , MANAGER_EMAIL
             , MANAGER_PHONE
             , TOTAL_TIME
             , TOTAL_USED_TIME
             , AVAILABLE_TIME
             , SERVICE_START_AT
             , SERVICE_END_AT
             , CREATE_AT
          FROM Company
               <if test='pageDTO.keyword != null'>
                 WHERE NAME LIKE CONCAT('%',#{pageDTO.keyword},'%')
                  OR TEL LIKE CONCAT('%',#{pageDTO.keyword},'%')
                  OR CEO LIKE CONCAT('%',#{pageDTO.keyword},'%')
                  OR ADDRESS LIKE CONCAT('%',#{pageDTO.keyword},'%')
               </if>
         ORDER BY IDX DESC
         LIMIT #{pageDTO.pageIndex}, #{pageDTO.pageSize}
    </select>

    <insert id="insertCompany">
        INSERT INTO
               Company (
               USER_IDX
             , STATUS
             , NAME
             , TEL
             , EMAIL
             , ADDRESS
             , CATEGORY
             , CEO
             , EMPLOYEE_COUNT
             , CORPORATION_NUMBER
             , BUSINESS_NUMBER
             , MANAGER_NAME
             , MANAGER_EMAIL
             , MANAGER_PHONE
             , CREATE_AT
             , WRITE_AT
        )
        VALUES (
               #{userIdx}
             , #{status}
             , #{name}
             , #{tel}
             , #{email}
             , #{address}
             , #{category}
             , #{ceo}
             , #{employeeCount}
             , #{corporationNumber}
             , #{businessNumber}
             , #{managerName}
             , #{managerEmail}
             , #{managerPhone}
             , #{createAt}
             , NOW()
       )
    </insert>

    <select id="findOneCompany" resultType="com.intw.mentorapi.dto.company.CompanyViewDTO">
        /* NOT_SQL_LOG */
        SELECT C.IDX
             , C.STATUS AS COMPANY_STATUS
             , C.NAME AS COMPANY_NAME
             , C.TEL AS COMPANY_TEL
             , C.CATEGORY AS COMPANY_CATEGORY
             , C.EMPLOYEE_COUNT AS COMPANY_EMPLOYEE_COUNT
             , C.ADDRESS AS COMPANY_ADDRESS
             , C.CORPORATION_NUMBER AS COMPANY_CORPORATION_NUMBER
             , C.BUSINESS_NUMBER AS COMPANY_BUSINESS_NUMBER
             , C.MANAGER_NAME AS COMPANY_MANAGER_NAME
             , C.MANAGER_EMAIL AS COMPANY_MANAGER_EMAIL
             , C.MANAGER_PHONE AS COMPANY_MANAGER_PHONE
             , C.TOTAL_TIME AS COMPANY_TOTAL_TIME
             , C.TOTAL_USED_TIME AS COMPANY_TOTAL_USED_TIME
             , C.AVAILABLE_TIME AS COMPANY_AVAILABLE_TIME
             , C.SERVICE_START_AT AS COMPANY_SERVICE_START_AT
             , C.SERVICE_END_AT AS COMPANY_SERVICE_END_AT
             , C.CREATE_AT AS COMPANY_CREATE_AT
             , U.NAME AS USER_NAME
             , U.EMAIL AS USER_EMAIL
             , U.PHONE AS USER_PHONE
             , U.GENDER AS USER_GENDER
          FROM Company C
          LEFT JOIN User U ON C.USER_IDX = U.IDX
         WHERE C.IDX = #{idx}
    </select>

    <update id="updateCompany">
        /* NOT_SQL_LOG */
        UPDATE Company
           SET STATUS = #{status}
             , NAME = #{name}
             , TEL = #{tel}
             , EMAIL = #{email}
             , ADDRESS = #{address}
             , CATEGORY = #{category}
             , EMPLOYEE_COUNT = #{employeeCount}
             , CORPORATION_NUMBER = #{corporationNumber}
             , BUSINESS_NUMBER = #{businessNumber}
             , TOTAL_TIME = #{totalTime}
             , TOTAL_USED_TIME = #{totalUsedTime}
             , AVAILABLE_TIME = #{availableTime}
             , SERVICE_START_AT = #{serviceStartAt}
             , SERVICE_END_AT = #{serviceEndAt}
             , UPDATE_AT = NOW()
         WHERE IDX = #{idx};
    </update>

    <delete id="deleteCompany">
        /* NOT_SQL_LOG */
        DELETE FROM Company WHERE IDX = #{idx};
    </delete>

</mapper>
