<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intw.mentorapi.mapper.InquiryReplyMapper">

    <select id="isAccessible" resultType="Integer">
        /* NOT_SQL_LOG */
        SELECT I.COMPANY_IDX
          FROM Inquiry_Reply AS IR
          LEFT JOIN Inquiry AS I ON I.IDX = IR.INQUIRY_IDX
         WHERE IR.IDX = #{idx}
    </select>

    <select id="findAllInquiryReply" resultType="com.intw.mentorapi.dto.inquiryReply.InquiryReplyListDTO">
        /* NOT_SQL_LOG */
        SELECT IR.IDX
             , U.NAME AS USER_NAME
             , IR.REPLY
             , IR.WRITE_AT
          FROM Inquiry_Reply AS IR
          LEFT JOIN Inquiry AS I ON I.IDX = IR.INQUIRY_IDX
          LEFT JOIN User AS U ON U.IDX = IR.USER_IDX
          LEFT JOIN Company AS C ON C.IDX = I.COMPANY_IDX
         WHERE I.IDX = #{inquiryIdx}
           AND C.IDX = #{companyIdx}
         ORDER BY IR.WRITE_AT ASC
    </select>

    <insert id="insertInquiryReply">
        /* NOT_SQL_LOG */
        INSERT INTO Inquiry_Reply
                  ( USER_IDX
                  , INQUIRY_IDX
                  , REPLY
                  , WRITE_IP
                  , WRITE_AT
                  )
           VALUES ( #{userIdx}
                  , #{inquiryIdx}
                  , #{reply}
                  , #{writeIp}
                  , NOW()
                  )
    </insert>

    <update id="updateInquiryReply">
        /* NOT_SQL_LOG */
        UPDATE Inquiry_Reply IR
          LEFT JOIN User AS U ON U.IDX = IR.USER_IDX
           SET REPLY = #{inquiryReply.reply}
         WHERE IR.IDX = #{inquiryReply.idx}
           <if test='role.equals("ROLE_MANAGER")'>
               AND U.ROLE = "ROLE_MANAGER"
           </if>
    </update>

    <delete id="deleteInquiryReply">
        /* NOT_SQL_LOG */
        DELETE IR FROM Inquiry_Reply AS IR
          LEFT JOIN Inquiry AS I ON I.IDX = IR.INQUIRY_IDX
          LEFT JOIN User AS U ON U.IDX = IR.USER_IDX
         WHERE IR.IDX = #{idx}
           <if test='role.equals("ROLE_MANAGER")'>
               AND I.COMPANY_IDX = #{companyIdx}
               AND U.ROLE = "ROLE_MANAGER"
           </if>
    </delete>

    <delete id="deleteAllInquiryReplyByInquiry">
        /* NOT_SQL_LOG */
        DELETE IR FROM Inquiry_Reply AS IR
          LEFT JOIN Inquiry AS I ON I.IDX = IR.INQUIRY_IDX
          LEFT JOIN User AS U ON U.IDX = IR.USER_IDX
         WHERE IR.INQUIRY_IDX = #{inquiryIdx}
        <if test='role.equals("ROLE_MANAGER")'>
            AND I.COMPANY_IDX = #{companyIdx}
            AND U.ROLE = "ROLE_MANAGER"
        </if>
    </delete>
</mapper>
