<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intw.mentorapi.mapper.InquiryMapper">

    <select id="isInquiryExist" resultType="int">
        /* NOT_SQL_LOG */
        SELECT COUNT(*) FROM Inquiry WHERE IDX = #{idx}
    </select>

    <select id="findAllInquiry" resultType="com.intw.mentorapi.dto.inquiry.InquiryListDTO">
        /* NOT_SQL_LOG */
        SELECT I.IDX
             , I.STATUS
             , I.MEMO
             , I.WRITE_AT
             , C.NAME AS COMPANY_NAME
             , U.NAME AS USER_NAME
          FROM Inquiry I
          LEFT JOIN Company AS C ON C.IDX = I.COMPANY_IDX
          LEFT JOIN User AS U ON U.IDX = I.USER_IDX
         WHERE 1 = 1
               <if test='role.equals("ROLE_MANAGER")'>
                   AND C.IDX = #{companyIdx}
               </if>
               <if test='pageDTO.keyword != null'>
                   AND C.NAME LIKE CONCAT('%', #{pageDTO.keyword}, '%')
                   OR U.NAME LIKE CONCAT('%', #{pageDTO.keyword}, '%')
                   OR I.MEMO LIKE CONCAT('%', #{pageDTO.keyword}, '%')
               </if>
         ORDER BY I.IDX DESC
         LIMIT #{pageDTO.pageIndex}, #{pageDTO.pageSize}
    </select>

    <select id="findOneInquiry" resultType="com.intw.mentorapi.dto.inquiry.InquiryViewDTO">
        /* NOT_SQL_LOG */
        SELECT I.IDX
             , I.STATUS
             , I.MEMO
             , I.WRITE_AT
             , C.IDX AS COMPANY_IDX
             , C.NAME AS COMPANY_NAME
             , U.NAME AS USER_NAME
          FROM Inquiry I
          LEFT JOIN Company AS C ON C.IDX = I.COMPANY_IDX
          LEFT JOIN User AS U ON U.IDX = I.USER_IDX
        WHERE I.IDX = #{idx}
              <if test='role.equals("ROLE_MANAGER")'>
                  AND C.IDX = #{companyIdx}
              </if>

    </select>

    <update id="updateStatusByInquiryReply">
        /* NOT_SQL_LOG */
        UPDATE Inquiry
               <if test='role.equals("ROLE_ADMIN")'>
                   SET STATUS = "Y"
               </if>
               <if test='role.equals("ROLE_MANAGER")'>
                   SET STATUS = "N"
               </if>
         WHERE IDX = #{idx}
    </update>

    <delete id="deleteInquiry">
        /* NOT_SQL_LOG */
        DELETE FROM Inquiry
         WHERE IDX = #{idx}
               <if test='role.equals("ROLE_MANAGER")'>
                   AND COMPANY_IDX = #{companyIdx}
               </if>
    </delete>

    <insert id="insertInquiryByCompany">
        INSERT INTO
               Inquiry (
               STATUS
             , MEMO
             , USER_IDX
             , COMPANY_IDX
             , WRITE_IP
             , WRITE_AT
        )
        VALUES (
                "N"
              , #{memo}
              , #{userIdx}
              , #{companyIdx}
              , #{writeIp}
              , NOW()
                )
    </insert>

    <update id="updateInquiryByCompany">
        /* NOT_SQL_LOG */
        UPDATE Inquiry
           SET STATUS = "N"
             , MEMO = #{memo}
         WHERE IDX = #{idx}
           AND COMPANY_IDX = #{companyIdx}
    </update>
</mapper>
