<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intw.mentorapi.mapper.MentorCareerMapper">

    <select id="isMentorCareerExist" resultType="int">
        /* NOT_SQL_LOG */
        SELECT COUNT(*) FROM Mentor_Career
         WHERE IDX = #{idx}
    </select>

    <insert id="insertMentorCareer">
        INSERT INTO Mentor_Career
                  ( MENTOR_IDX
                  , STATUS
                  , COMPANY
                  , DEPARTMENT
                  , GRADE
                  , ANNUAL
                  , START_AT
                  , END_AT
                  , WRITE_AT
                  )
           VALUES ( #{mentorIdx}
                  , #{status}
                  , #{company}
                  , #{department}
                  , #{grade}
                  , #{annual}
                  , #{startAt}
                  , #{endAt}
                  , NOW()
                  )
    </insert>

    <update id="updateMentorCareer">
        /* NOT_SQL_LOG */
        UPDATE Mentor_Career
           SET STATUS = #{status}
             , COMPANY = #{company}
             , DEPARTMENT = #{department}
             , GRADE = #{grade}
             , ANNUAL = #{annual}
             , START_AT = #{startAt}
             , END_AT = #{endAt}
        WHERE IDX = #{idx}
    </update>

    <delete id="deleteMentorCareer">
        /* NOT_SQL_LOG */
        DELETE FROM Mentor_Career
         WHERE IDX = #{idx};
    </delete>
</mapper>
