<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intw.mentorapi.mapper.MentorCategoryMapper">

    <select id="findAllMentorCategory" resultType="com.intw.mentorapi.dto.mentorCateogry.MentorCategoryDTO">
        SELECT MCC.NAME AS CATEGORY_NAME
          FROM Mentor_Category AS MC
          LEFT JOIN Mentor_Category_Config AS MCC ON MCC.IDX = MC.MENTOR_CATEGORY_CONFIG_IDX
         WHERE MC.MENTOR_IDX = #{mentorIdx}
    </select>

    <insert id="insertMentorCategory">
        INSERT INTO Mentor_Category
                  ( MENTOR_IDX
                  , MENTOR_CATEGORY_CONFIG_IDX
                  )
        VALUES
            <foreach item="item" collection="mentorCategory.mentorCategoryConfigIdx" separator=", ">
                (
                  #{mentorCategory.mentorIdx}
                , #{item}
                )
            </foreach>
    </insert>

    <delete id="deleteMentorCategory">
        /* NOT_SQL_LOG */
        DELETE FROM Mentor_Category
         WHERE MENTOR_IDX = #{mentorIdx};
    </delete>
</mapper>
