<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intw.mentorapi.mapper.MentorProjectMapper">

    <select id="isMentorProjectExist" resultType="int">
        /* NOT_SQL_LOG */
        SELECT COUNT(*) FROM Mentor_Project
         WHERE IDX = #{idx}
    </select>

    <insert id="insertMentorProject">
        /* NOT_SQL_LOG */
        INSERT INTO Mentor_Project
                  ( MENTOR_IDX
                  , NAME
                  , CATEGORY
                  , ROLE
                  , START_AT
                  , END_AT
                  , ETC
                  , WRITE_AT
                  )
           VALUES ( #{mentorIdx}
                  , #{name}
                  , #{category}
                  , #{role}
                  , #{startAt}
                  , #{endAt}
                  , #{etc}
                  , NOW()
                  )
    </insert>

    <select id="findOneMentorProject" resultType="MentorProject">
        /* NOT_SQL_LOG */
        SELECT IDX
             , MENTOR_IDX
             , NAME
             , CATEGORY
             , ROLE
             , START_AT
             , END_AT
             , ETC
             , WRITE_AT
          FROM Mentor_Project
         WHERE IDX = #{idx}
    </select>

    <update id="updateMentorProject">
        /* NOT_SQL_LOG */
        UPDATE Mentor_Project
           SET NAME = #{name}
             , CATEGORY = #{category}
             , ROLE = #{role}
             , START_AT = #{startAt}
             , END_AT = #{endAt}
             , ETC = #{etc}
         WHERE IDX = #{idx}
    </update>

    <delete id="deleteMentorProject">
        /* NOT_SQL_LOG */
        DELETE FROM Mentor_Project
         WHERE IDX = #{idx};
    </delete>
</mapper>
