<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intw.mentorapi.mapper.UserMapper">
    <select id="isEmailExist" resultType="int">
        /* NOT_SQL_LOG */
        SELECT COUNT(*) FROM User
         WHERE EMAIL = #{email}
    </select>

    <select id="isPhoneExist" resultType="int">
        /* NOT_SQL_LOG */
        SELECT COUNT(*) FROM User
         WHERE PHONE = #{phone}
        <if test='idx != null'>
            AND IDX != #{idx}
        </if>
    </select>

    <update id="updateVisitAtByUserEmail">
        /* NOT_SQL_LOG */
        UPDATE User
           SET VISIT_AT = NOW()
         WHERE EMAIL = #{email}
    </update>

    <select id="findAllUser" resultType="com.intw.mentorapi.dto.user.UserListDTO">
        /* NOT_SQL_LOG */
        SELECT IDX
             , NAME
             , EMAIL
             , ROLE
             , ROLE_CODE_IDX
             , STATUS
             , WRITE_AT
             , VISIT_AT
        FROM User
             <if test='pageDTO.keyword != null'>
               WHERE NAME LIKE CONCAT('%',#{pageDTO.keyword},'%')
               OR EMAIL LIKE CONCAT('%',#{pageDTO.keyword},'%')
               OR PHONE LIKE CONCAT('%',#{pageDTO.keyword},'%')
             </if>
             ORDER BY IDX DESC
             LIMIT #{pageDTO.pageIndex}, #{pageDTO.pageSize}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="idx">
        /* NOT_SQL_LOG */
        INSERT INTO User
                  ( EMAIL
                  , PASSWORD
                  , ROLE
                  , ROLE_CODE_IDX
                  , STATUS
                  , NAME
                  , PHONE
                  , GENDER
                  , IS_AGREEMENT
                  , WRITE_AT
                  )
           VALUES ( #{email}
                  , #{password}
                  , #{role}
                  , #{roleCodeIdx}
                  , #{status}
                  , #{name}
                  , #{phone}
                  , #{gender}
                  , #{isAgreement}
                  , NOW()
                  )
    </insert>

    <select id="findOneUser" resultType="com.intw.mentorapi.dto.user.UserViewDTO">
        /* NOT_SQL_LOG */
        SELECT IDX
             , NAME
             , EMAIL
             , ROLE
             , ROLE_CODE_IDX
             , STATUS
             , WRITE_AT
             , VISIT_AT
         FROM User
        WHERE IDX = #{idx}
    </select>

    <update id="updateUser">
        /* NOT_SQL_LOG */
        UPDATE User
           SET ROLE = #{role}
             , ROLE_CODE_IDX = #{roleCodeIdx}
             , STATUS = #{status}
               <if test='password != null'>
                , PASSWORD = #{password}
               </if>
            , PHONE = #{phone}
            , GENDER = #{gender}
            , IS_AGREEMENT = #{isAgreement}
        WHERE IDX = #{idx}
    </update>

    <delete id="deleteUser">
        /* NOT_SQL_LOG */
        DELETE FROM User
         WHERE IDX = #{idx}
    </delete>

</mapper>
